version: 2
jobs:
  build:
    working_directory: ~/hermes
    docker:
      - image: maven:3.6.3-openjdk-15-slim
        environment:
          #### MYSQL ####
          MYSQL_USER: hermes
          MYSQL_PASSWORD: 'h3rm3s'
          MYSQL_DATABASE: hermes
          MYSQL_PORT: 3306
          MYSQL_HOST: localhost
      - image: mysql:latest
        environment:
          MYSQL_ROOT_PASSWORD: hermes
          MYSQL_DATABASE: hermes
          MYSQL_USER: hermes
          MYSQL_PASSWORD: 'h3rm3s'

    steps:

      - checkout

      - restore_cache:
          key: hermes-{{ checksum "pom.xml" }}

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: hermes-{{ checksum "pom.xml" }}

      - run: mvn clean install

      - store_artifacts:
          path: target/hermes*.jar

    # See https://circleci.com/docs/2.0/deployment-integrations/ for deploy examples